<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMULÁRIO DE PAGAMENTO</title>
    <style type="text/css">
      .container {
      margin-top: 30px;
      margin-left: 140px;
      margin-right: 125px;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      .container2 {
        display: inline;
        margin-left: 396px;
        text-align: center;
      }
      .primaryColor {
        background: cornflowerblue;
      }
      h1 {
        padding-left: 10px;
      }
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        margin: 0px;
        padding:5px ;
        width: 700px;
      }
      * {
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
      <div class="container2">
        <img src="https://www.selladm.com.br/wp-content/uploads/2022/03/Logo-Sell-Administradora.png">
        <h1>Formulário de contas a pagar</h1>
      </div>
    <div class="container">
      <form autocomplete="off" id="form-pgto">
        <table>
          <tr>
            <th>COD</th>
            <th>CONDOMÍNIO</th>
          </tr>
          <tr>
            <td>
              <span><%= codCond %></span>
            </td>
            <td>
              <span>nome do cond.</span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"></td>
          </tr>
          <tr>
            <td>CNPJ</td>
            <td>
              <span>CNPJ do cond.</span>
            </td>
          </tr>
          <tr>
            <td>DATA PARA PAGAMENTO</td>
            <td>
              <span>Data do pagm.</span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"></td>
          </tr>
          <tr>
            <td>VALOR</td>
            <td>
              R$: <span>300,00</span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"></td>
          </tr>
          <tr>
            <td>FORMA DE PAGAMENTO</td>
            <td>
              <span>Forma de pagamento</span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"></td>
          </tr>
          <tr>
            <td>FAVORECIDO</td>
            <td>
              <span>nome do favorecido nome gigantesco muito grande</span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"></td>
          </tr>
          <tr>
            <td>CPF/CNPJ</td>
            <td>
              <span>333.333.333-44</span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"></td>
          </tr>
          <!-- arruma diante do modelo ecolhido-->
          <tr id="chavePix"></tr>
          <tr id="linhaPix"></tr>
          <tr>
            <td>BANCO</td>
            <td>
              <span>nome do banco</span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"></td>
          </tr>
          <tr>
            <td>AGÊNCIA</td>
            <td>
              <span>Agencia</span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"></td>
          </tr>
          <tr>
            <td>
              <span>Tipo de conta</span>
            </td>
            <td>
              <span>Conta</span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"></td>
          </tr>
          <tr>
            <td>CONTA CONTÁBIL</td>
            <td>
              <span>Conta Contábil</span>
            </td>
          </tr>
          <tr>
            <td>DATA/HORA</td>
            <td>
              <span>data do doc</span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"></td>
          </tr>
          <tr>
            <td>ASSINATURA GERENTE</td>
            <td>
              <span>Gerente</span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"></td>
          </tr>
          <tr>
            <td>ANEXOS:</td>
            <td>
              <span>tipo de enexo</span>
            </td>
          </td>
          <tr>
            <td colspan="2" class="primaryColor"></td>
          </tr>
          <tr>
            <td style="padding-bottom:80px;">HISTÓRICO:</td>
            <td>
              <span>histórico</span>
            </td>
          </tr>
        </table>
      </form>
      <br>
    </div>
  </body>
</html>
